
.page-product {
  padding: 0 3em;

  .detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .gallery {
      width: 50%;
      height: 400px;
      overflow: hidden;
      // width: 100%;
      min-width: 500px;
    }
    h2,
    h1 {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 2em;
    }
    h2 {
      font-size: 1.5em;
    }
  }
}
button{
  width: 67px;
  height: 30px;
  margin-bottom: 30px;
  margin-top: -20px;
  border: none;
  color: white;
  background-color: #0C0213;
}


@media screen and (min-width: 20em) and (max-width: 49.6em){
.detail{
  position: relative;
  display: block;
}
.text{
position: absolute;
margin-top: 252px;
display: block;
}
.gallery{
  margin-left: -53px;
}
swiper{
  width: 90%;
}
img{
  width: 67%;
}
}
