<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="" class="logo" >
      <img src="./assets/svg/ad-store.PNG" alt="">
    </a>
    <div class="cart">
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </a>
      <span class="counter">{{ counter }}</span>
    </div>

  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()"><img src="./assets/svg/arrow_back.svg" alt=""></button>
    <ul>
      <li><a class="movil-category" routerLink="home">All</a></li>
      <li *ngFor="let item of categories">
        <a class="movil-category" [routerLink]="['/category', item.id]">{{ item.name }}</a>
      </li>
    </ul>
  </div>
</div>

<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/ad-store.PNG" alt="">
      </a>
      <ul>
        <li><a routerLinkActive="active" routerLink="home">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <div class="btn-log"
        *ngIf="!profile; else elseBlock"

        [routerLink]="['/login']">Login</div>
        <ng-template  #elseBlock>
          <a class="nameUser" routerLink="/profile">{{ profile?.name }}</a>
          <div class="btn-log" (click)="logout()">Logout</div>
        </ng-template>
      </div>
      <div class="cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>

<!-- (click)="login()" esto es lo que habia en el login que hacia logear con el
  perfil ya asignado -->
