<a [routerLink]="['/product', product.id]">
  <app-img
    *ngIf="product.images.length > 0"
    [img]="product.images[0]"
  ></app-img>
</a>
<h2 class="title">{{ product.price | currency }}</h2><br>
<p>{{ product.title }}</p>
<p class="category">{{ product.category?.name }}</p>
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<div class="detalle">
<div class="ver-detalle"><a [routerLink]="['/product', product.id]" [queryParams]="{ product: product.id}">Ver detalle</a></div>
<img class="add-cart" (click)="onAddToCart()" src="./assets/svg/icon_shopping_cart.svg" alt="">
</div>
